<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>电网智能监控系统 - 上海东君电气有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Le styles -->
  <link href="../../css/bootstrap.css" rel="stylesheet" />
  <link href="../../css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="../../css/ZTree/zTreeStyle.css" rel="stylesheet" />
  <link href="../../css/index.css" rel="stylesheet" />
  <link href="../../css/global.css" rel="stylesheet" />


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="../../ico/favicon.png" />
  <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>

	<div class="container-fluid">
		<div class="hero-unit">
			<div class="row-fluid">
				<div class="span4">
					<h2><img src="../../img/logo.png" style="height: 60px" />电网智能监控系统</h2>
				</div>
				<div class="span8">
					<a href="index" class="btn banner-btn btn-primary"><i class="fa fa-map-marker"></i>监控</a>
					<a href="low_voltage_switch_manager" class="btn banner-btn btn-primary"><i class="fa fa-cog"></i>管理</a>
					<a href="current_voltage_chart" class="btn banner-btn btn-primary"><i class="fa fa-area-chart"></i>报表</a>
					<a href="#system" class="btn banner-btn btn-primary"><i class="fa fa-user"></i>系统</a>
					<a href="#about" class="btn banner-btn btn-primary"><i class="fa fa-info-circle"></i>关于</a>
					<a href="#contact" class="btn banner-btn btn-primary"><i class="fa fa-phone"></i>联系</a>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span2">
				<div class="input-append">
					<select id='zTree_node_type' class='span4'>
						<option value='0'>低压设备</option>
						<option value='1'>高压设备</option>
						<option value='2'>无功无场设备</option>
					</select>
					<input id="search_node_key" class="span5" type="text" placeholder="请输入..." />
					<button id="searchNode" class="btn" type="button">搜索</button>
				</div>
				<div class="well sidebar-nav">
					<ul id="treeDemo" class="ztree"></ul>
				</div>
			</div>
			<div class="span10" id="baidu_map"></div>
		</div>
		<footer>
			<p>&copy; Company 2013</p>
		</footer>
	</div>

	<script src="../../js/jquery.js"></script>
	<script src="../../js/bootstrap-transition.js"></script>
	<script src="../../js/bootstrap-alert.js"></script>
	<script src="../../js/bootstrap-modal.js"></script>
	<script src="../../js/bootstrap-dropdown.js"></script>
	<script src="../../js/bootstrap-scrollspy.js"></script>
	<script src="../../js/bootstrap-tab.js"></script>
	<script src="../../js/bootstrap-tooltip.js"></script>
	<script src="../../js/bootstrap-popover.js"></script>
	<script src="../../js/bootstrap-button.js"></script>
	<script src="../../js/bootstrap-collapse.js"></script>
	<script src="../../js/bootstrap-carousel.js"></script>
	<script src="../../js/bootstrap-typeahead.js"></script>

	<!-- 树状图 和 百度地图 -->
	<script src="../../js/ZTree/jquery.ztree.core-3.5.js"></script>
	<script src="http://api.map.baidu.com/api?v=1.5&amp;ak=KdwNinCQXF9C7Cu8GOWK0nuM"></script>
	<script src="../../js/custom/index.js"></script>
	<script src="../../js/custom/switch_detail.js"></script>

</body>
</html>
