<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>电网智能监控系统 - 上海东君电气有限公司</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Le styles -->
<link href="../../css/bootstrap.css" rel="stylesheet" />
<link href="../../css/bootstrap-responsive.css" rel="stylesheet" />
<link href="../../css/ZTree/zTreeStyle.css" rel="stylesheet" />
<link href="../../css/index.css" rel="stylesheet" />
<link href="../../css/global.css" rel="stylesheet" />


<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
  <![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="../../ico/favicon.png" />
<link
	href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css"
	rel="stylesheet" />

</head>
<body>
  <span style="display: none" id="module" data-web="1"></span>
	<div class="container-fluid">
		<div class="hero-unit">
			<div class="row-fluid">
				<div class="span5">
					<h2>
						<img src="../../img/logo.png" style="height: 65px" />电网智能监控系统
              <span class="label label-default">1.01</span>
					</h2>
				</div>
				<div class="span6 MENU">
					<a href="index" class="btn banner-btn btn-primary"><i class="fa fa-map-marker"></i>监控</a>
          <a href="low_voltage_switch_manager" class="btn banner-btn btn-primary"><i class="fa fa-cog"></i>管理</a>
					<a href="current_voltage_chart" class="btn banner-btn btn-primary"><i class="fa fa-area-chart"></i>报表</a>
          <a href="low_voltage_hitch_event_manager" class="btn banner-btn btn-primary" id="event"><i class="fa fa-user"></i>事件</a>
				</div>
        <div class="span1 log_out">
            <button class="btn btn-danger" id="log_out">退出</button>
        </div>
			</div>
		</div>


		<div class="row-fluid">
			<div class="span3 treeDemo">
				<div class="input-append">
					<select id='zTree_node_type' class='span5'>
						<option value='0'>低压设备</option>
						<option value='1'>高压设备</option>
						<option value='2'>无功补偿设备</option>
					</select>
          <input id="search_node_key" class="span4" type="text" placeholder="请输入..." />
          <button id="searchNode" class="btn btn-primary"><i class="fa fa-search"></i></button>

				</div>
				<div class="well sidebar-nav" style="height: 100%">
					<ul id="treeDemo" class="ztree"></ul>
				</div>
			</div>
			<div class="span9" style="height: 100%;">
        <div style="font-size: 18px">
            <i class="fa fa-home" id="Center"></i>
            &nbsp;
            当前位置：<span id="show_line"></span>
        </div>
        <div id="baidu_map" style="width: 100%"></div>
			</div>
		</div>
		
		
		
		
		<div id="security_modal" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="myModalLabel">安全认证</h3>
			</div>
			<div class="modal-body">
				<div id="upload_form" class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="controlCode">请输入控制密码:</label>
						<div class="controls">
							<input type="password" id="controlCode" name="controlCode" />
							<span id="notice_msg" class="help-block text-center">将在  秒内执行！</span>
						</div>
					</div>
					<div class="modal-footer">
						<button id='cancel_control' class="btn" data-dismiss="modal" aria-hidden="true" onClick='cancel()'>取消</button>
						<button id="secu_confirm_btn" class="btn btn-primary">执行</button><!--  onClick='timer()' -->
					</div>
				</div>
			</div>
		</div>

		<!--<div id="alarm_modal" class="modal hide fade" tabindex="-1"-->
			<!--role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
			<!--<div class="modal-header">-->
				<!--<button type="button" class="close" data-dismiss="modal"-->
					<!--aria-hidden="true">×</button>-->
				<!--<h3 id="myModalLabel">报警登记处理</h3>-->
			<!--</div>-->
			<!--<div class="modal-body">-->
				<!--<div id="upload_form" class="form-horizontal">-->
					<!--<div class="control-group">-->
            <!--<input type="hidden" id="hiddenSwitchId" />-->
						<!--<label class="control-label" for="handleName">处理人:</label>-->
						<!--<div class="controls">-->
							<!--<input type="text" id="handleName" name="handleName" />-->
						<!--</div>-->
            <!--<br />-->
						<!--<label class="control-label" for="handleTime">处理时间:</label>-->
						<!--<div class="controls">-->
							<!--<input type="text" id="handleTime" name="handleTime" />-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="modal-footer">-->
						<!--<button id="alarm_confirm_btn" class="btn btn-primary" onClick="submitAlarmEvent()">确定</button>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<footer>
			<p>&copy; Company 2013</p>
		</footer>
	</div>

	<script src="../../js/jquery.js"></script>
	<script src="../../js/bootstrap-transition.js"></script>
	<script src="../../js/bootstrap-alert.js"></script>
	<script src="../../js/bootstrap-modal.js"></script>
	<script src="../../js/bootstrap-dropdown.js"></script>
	<script src="../../js/bootstrap-scrollspy.js"></script>
	<script src="../../js/bootstrap-tab.js"></script>
	<script src="../../js/bootstrap-tooltip.js"></script>
	<script src="../../js/bootstrap-popover.js"></script>
	<script src="../../js/bootstrap-button.js"></script>
	<script src="../../js/bootstrap-collapse.js"></script>
	<script src="../../js/bootstrap-carousel.js"></script>
	<script src="../../js/bootstrap-typeahead.js"></script>

	<!-- 树状图 和 百度地图 -->
	<script src="../../js/ZTree/jquery.ztree.core-3.5.js"></script>
	<script
		src="http://api.map.baidu.com/api?v=1.5&amp;ak=KdwNinCQXF9C7Cu8GOWK0nuM"></script>
	<script src="../../js/custom/index.js"></script>
	<script src="../../js/custom/switch_detail.js"></script>

  <!-- 引入全局函数 -->
  <script src="../../js/custom/gobal.js"></script>
</body>
</html>
