<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>电网智能监控系统 - 上海东君电气有限公司</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../css/bootstrap.css" rel="stylesheet" />
<style type="text/css">
th, td {
	white-space: nowrap;
}
</style>
<link href="../../css/bootstrap-responsive.css" rel="stylesheet" />
<link href="../../css/manager.css" rel="stylesheet" />
<link href="../../css/global.css" rel="stylesheet" />


<!-- dataTables -->
<link href="../../css/dataTables/dataTables.tableTools.css"
	rel="stylesheet" />
<link href="../../css/dataTables/jquery.dataTables.css" rel="stylesheet" />
<link href="../../css/dataTables/dataTables.bootstrap.css"
	rel="stylesheet" />



<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
  <![endif]-->

<link rel="shortcut icon" href="../../ico/favicon.png" />
<link
	href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css"
	rel="stylesheet" />

</head>

<body>
<span style="display: none" id="module" data-web="2"></span>
	<div class="container-fluid">
		<div class="hero-unit">
			<div class="row-fluid">
          <div class="span5">
              <h2>
                  <img src="../../img/logo.png" style="height: 65px" />电网智能监控系统
                  <span class="label label-default">1.02</span>
              </h2>
          </div>
          <div class="span6 MENU">
              <a href="index" class="btn banner-btn btn-primary"><i class="fa fa-map-marker"></i>监控</a>
              <a href="low_voltage_switch_manager" class="btn banner-btn btn-primary" id="manage"><i class="fa fa-cog"></i>管理</a>
              <a href="current_voltage_chart" class="btn banner-btn btn-primary"><i class="fa fa-area-chart"></i>报表</a>
              <a href="low_voltage_hitch_event_manager" class="btn banner-btn btn-primary"><i class="fa fa-user"></i>事件</a>
          </div>
          <div class="span1 log_out">
              <button class="btn btn-danger" id="log_out">退出</button>
          </div>
			</div>
		</div>


		<div class="row-fluid">
			<div class="span2 container-fluid well sidebar-nav">
				<ul class="nav nav-list bs-docs-sidenav" id="menu">
					<li class="nav-header">资源管理</li>
					<li><a href="" class="btn-success">变电站管理</a></li>
					<li><a href="line_manager">线路管理</a></li>
					<li class="nav-header">设备管理</li>
					<li><a href="low_voltage_switch_manager">低压开关管理</a></li>
					<li><a href="high_voltage_switch_manager">高压开关管理</a></li>
					<li><a href="control_measure_switch_manager">无功补偿开关管理</a></li>
          <li><a href="">温度监控</a></li>
					<!--<li class="nav-header">事件管理</li>-->
					<!--<li><a href="low_voltage_hitch_event_manager">低压开关故障事件</a></li>-->
					<!--<li><a href="high_voltage_hitch_event_manager">高压开关故障事件</a></li>-->
					<!--<li><a href="control_measure_hitch_event_manager">无功补偿开关故障事件</a></li>-->
				</ul>
			</div>

			<div class="span10 container">

				<div class="form-inline">
					<div class="form-group span3">
						<a href="#add_switch_modal" class="btn btn-primary"
							id="add_switch_btn" data-toggle="modal" data-backdrop="static">添加变电站</a>
					</div>
				</div>

				<table id="switch_list"
					class="table table-bordered table-striped table-hover table-condensed success">
					<thead>
						<td>名称</td>
						<td class="hidden">Id</td>
						<td class="hidden">线路ID</td>
            <td>修改</td>
            <td>删除</td>
					</thead>
				</table>
			</div>
		</div>


		<div id="add_switch_modal" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3>添加变电站</h3>
			</div>
			<div class="modal-body">
				<div id="add_switch_form" class="form-horizontal"
					action="edit_substation">
					<div class="control-group">
						<label class="control-label" for="inputName">名称</label>
						<div class="controls">
							<input type="text" id="inputName" name="name" />
						</div>
					</div>
					<div class="hide control-group">
						<label class="control-label" for="inputId">Id</label>
						<div class="controls">
							<input type="text" id="inputId" name="id" />
						</div>
					</div>
					<div class="hide control-group">
						<label class="control-label" for="inputLineId">线路Id</label>
						<div class="controls">
							<input type="text" id="inputLineId" name="companyId" />
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
              <button id="add_switch_confirm_btn" class="btn btn-primary"
                      data-dismiss="modal" aria-hidden="true">添加</button>
					</div>
				</div>

			</div>
		</div>

		<div id="edit_switch_modal" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3>编辑变电站</h3>
			</div>
			<div class="modal-body">
				<div id="edit_switch_form" class="form-horizontal"
					action="edit_substation">
					<div class="control-group">
						<label class="control-label" for="editName">名称</label>
						<div class="controls">
							<input type="text" id="editName" name="name" />
						</div>
					</div>
					<div class="hide control-group">
						<label class="control-label" for="editId">Id</label>
						<div class="controls">
							<input type="text" id="editId" name="id" />
						</div>
					</div>
					<div class="hide control-group">
						<label class="control-label" for="editLineId">线路Id</label>
						<div class="controls">
							<input type="text" id="editLineId" name="companyId" />
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
						<button id="edit_switch_confirm_btn" class="btn btn-primary"
							data-dismiss="modal" aria-hidden="true">确定</button>
					</div>
				</div>

			</div>
		</div>

		<div id="del_switch_modal" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="myModalLabel">警告</h3>
			</div>
			<div class="modal-body">
				<p>您确定要删除这个变电站吗？请慎重考虑</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				<a id="del_confirm_btn" class="btn btn-danger" data-dismiss="modal"
					aria-hidden="true">删除</a>
			</div>
		</div>


		<footer>
			<p>&copy; Company 2013</p>
		</footer>

	</div>

	<script src="../../js/jquery.js"></script>
	<script src="../../js/bootstrap-transition.js"></script>
	<script src="../../js/bootstrap-alert.js"></script>
	<script src="../../js/bootstrap-modal.js"></script>
	<script src="../../js/bootstrap-dropdown.js"></script>
	<script src="../../js/bootstrap-scrollspy.js"></script>
	<script src="../../js/bootstrap-tab.js"></script>
	<script src="../../js/bootstrap-tooltip.js"></script>
	<script src="../../js/bootstrap-popover.js"></script>
	<script src="../../js/bootstrap-button.js"></script>
	<script src="../../js/bootstrap-collapse.js"></script>
	<script src="../../js/bootstrap-carousel.js"></script>
	<script src="../../js/bootstrap-typeahead.js"></script>

	<!-- dataTables -->
	<script src="../../js/dataTables/dataTables.bootstrap.js"></script>
	<script src="../../js/dataTables/jquery.dataTables.js"></script>
	<script src="../../js/dataTables/dataTables.tableTools.js"></script>
	<script src="../../js/dataTables/dataTables_initial.js"></script>

	<!-- custom -->
	<script src="../../js/custom/substation_manager.js"></script>
  <script src="../../js/custom/gobal.js"></script>

</body>
</html>
