<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Bootstrap, from Twitter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Le styles
<link href="../../css/bootstrap.css" rel="stylesheet" /> 
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css"
	rel="stylesheet" />
-->

<link href="../../css/bootstrap.css" rel="stylesheet" />
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.value_block {
	width: 40px;
	height: 23px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
</style>
<link href="../../css/bootstrap-responsive.css" rel="stylesheet" />
<link href="../../css/switch_list.css" rel="stylesheet" />

<!-- dataTables -->



<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../../js/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../../ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="../../ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="../../ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="../../ico/apple-touch-icon-57-precomposed.png" />
<link rel="shortcut icon" href="../../ico/favicon.png" />

</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="#">东君电气</a>
				<div class="nav-collapse collapse">
					<p class="navbar-text pull-right">
						登录 <a href="greeting" class="navbar-link" th:text="${name}"></a>
					</p>
					<ul class="nav">
						<li><a href="">首页</a></li>
						<li><a href="current_voltage_chart">图表</a></li>
						<li><a href="line_list">线路</a></li>
						<li class="active"><a href="#about">开关</a></li>
						<li><a href="#about">关于</a></li>
						<li><a href="#contact">联系我们</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="hero-unit">
				<h2>东君电气管理XXX配线图一览</h2>
				<div>
					上海东君电气有限公司 <a href="index" class="btn btn-primary ">了解更多
						&raquo;</a>
					<div class="btn-group offset7">
						<a id="return_line_list_btn" href="line_list"
							class="btn btn-large">返回线路汇总 &raquo;</a>
					</div>
				</div>
			</div>

			<div class="form-horizontal thumbnails span4">
				<!-- action="edit_switch" -->
				<div class="control-group">
					<label class="control-label" for="a_phase_voltage">A相电压</label>
					<div class="controls span6">
						<input type="text" id="a_phase_voltage" class="span6" /> <a
							id="a_phase_voltage_btn" class="btn btn-primary">读取</a>

					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="b_phase_voltage">B相电压</label>
					<div class="controls span6">
						<input type="text" id="b_phase_voltage" class="span6" /> <a
							id="b_phase_voltage_btn" class="btn btn-primary">读取</a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="c_phase_voltage">C相电压</label>
					<div class="controls span6">
						<input type="text" id="c_phase_voltage" class="span6" /> <a
							id="c_phase_voltage_btn" class="btn btn-primary">读取</a>
					</div>
				</div>
				<div class="controls span3 offset5">
					<a id="all_phase_voltage_btn" class="btn btn-primary">读取三相电压</a>
				</div>
			</div>
			<div class="form-horizontal thumbnails span4">
				<!-- action="edit_switch" -->
				<div class="control-group">
					<label class="control-label" for="a_phase_current">A相电流</label>
					<div class="controls span6">
						<input type="text" id="a_phase_current" class="span6" /> <a
							id="a_phase_current_btn" class="btn btn-primary">读取</a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="b_phase_current">B相电流</label>
					<div class="controls span6">
						<input type="text" id="b_phase_current" class="span6" /> <a
							id="b_phase_current_btn" class="btn btn-primary">读取</a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="c_phase_current">A相电流</label>
					<div class="controls span6">
						<input type="text" id="c_phase_current" class="span6" /> <a
							id="c_phase_current_btn" class="btn btn-primary">读取</a>
					</div>
				</div>
				<div class="controls span3 offset5">
					<a id="all_phase_current_btn" class="btn btn-primary">读取三相电流</a>
				</div>
			</div>



			<div class="form-horizontal">
				<!-- action="edit_switch" -->
				<h2>控制模块</h2>
				<div class="control-group">
					<div class="controls span5">
						<select id="control_type" class="span5">
							<option value="0">预约跳闸</option>
							<option value="2">预约合闸</option>
							<option value="4">测试预约跳闸</option>
						</select> <input type="text" id="control_switch" class="span2"
							placeholder="0-99" /> <select id="control_switch_unit"
							class="span3">
							<option value="02">分钟</option>
							<option value="03">小时</option>
						</select> <a id="control_switch_btn" class="btn btn-primary">确定</a>
					</div>
				</div>
				<div class="control-group">
					<div class="controls span5">
						<select id="cancel_control_type" class="span5">
							<option value="1">取消预约跳闸</option>
							<option value="3">取消预约合闸</option>
							<option value="5">取消测试预约跳闸</option>
						</select> <a id="cancel_control_switch_btn" class="btn btn-primary">确定</a>
					</div>
				</div>
			</div>
			<a id="if_switch_open_btn" class="btn btn-primary">5分钟查询跳闸</a>

			<div class="container">
				<div class="row">
					<div class="span2">
						<ul class="inline">
							<li>A相电压:</li>
							<li id="a_phase_voltage" class="value_block">sdsfd</li>
						</ul>
						<ul class="inline">
							<li>B相电压:</li>
							<li id="b_phase_voltage" class="value_block">sdsfd</li>
						</ul>
						<ul class="inline">
							<li>C相电压:</li>
							<li id="c_phase_voltage" class="value_block">sdsfd</li>
						</ul>
					</div>
					<div class="span2">
						<ul class="inline">
							<li>A相电流:</li>
							<li id="a_phase_current" class="value_block">sdsfd</li>
						</ul>
						<ul class="inline">
							<li>B相电流:</li>
							<li id="b_phase_current" class="value_block">sdsfd</li>
						</ul>
						<ul class="inline">
							<li>C相电流:</li>
							<li id="c_phase_current" class="value_block">sdsfd</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="span4 text-center">
						<select id="control_type" class="span5">
							<option value="0">预约跳闸</option>
							<option value="2">预约合闸</option>
							<option value="4">测试预约跳闸</option>
						</select> <input type="text" id="control_switch" class="span2"
							placeholder="0-99" /> <select id="control_switch_unit"
							class="span3">
							<option value="02">分钟</option>
							<option value="03">小时</option>
						</select> <a id="control_switch_btn" class="btn btn-primary">确定</a>
					</div>
				</div>
				<div class="row">
					<div class="span4 text-center">
						<select id="cancel_control_type">
							<option value="1">取消预约跳闸</option>
							<option value="3">取消预约合闸</option>
							<option value="5">取消测试预约跳闸</option>
						</select> <a id="cancel_control_switch_btn" class="btn btn-primary">确定</a>
					</div>
				</div>
			</div>

			<!--   <ul class="inline">
				
						<li><label class="control-label " for="a_phase_voltage">A相电压</label></li>
						<li ><input type="text" id="a_phase_voltage" class="span1" /></li>
						<li><label class="control-label " for="a_phase_voltage">A相电流</label></li>
						<li><input type="text" id="a_phase_voltage" class="span1" /></li>
					</ul>-->



		</div>
		<footer>
			<p>&copy; Company 2013</p>
		</footer>

	</div>
	<!--/.fluid-container-->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster 
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	-->
	<script src="../../js/jquery.js"></script>
	<script src="../../js/bootstrap-transition.js"></script>
	<script src="../../js/bootstrap-alert.js"></script>
	<script src="../../js/bootstrap-modal.js"></script>
	<script src="../../js/bootstrap-dropdown.js"></script>
	<script src="../../js/bootstrap-scrollspy.js"></script>
	<script src="../../js/bootstrap-tab.js"></script>
	<script src="../../js/bootstrap-tooltip.js"></script>
	<script src="../../js/bootstrap-popover.js"></script>
	<script src="../../js/bootstrap-button.js"></script>
	<script src="../../js/bootstrap-collapse.js"></script>
	<script src="../../js/bootstrap-carousel.js"></script>
	<script src="../../js/bootstrap-typeahead.js"></script>



	<!-- custom -->
	<script src="../../js/custom/switch_detail.js"></script>
</body>
</html>
